body{
  position: relative;
  background-color: hsl(204, 43%, 93%);
  font-family: 'Outfit', sans-serif;
}
.container{
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media (max-width: 768px){
  .container{
    width: 400px;
  }
}
  .boxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "box-1 box-1" "box-2 box-3 ";
  }
  @media (max-width: 768px){
    .boxes{
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 768px){
    .box-1,.box-2,.box-3{
      width: 400px;
      height: 400px;
      padding: 20px;
    }
  }
.box-1{
  grid-area: box-1;
  background-color: white;
  padding: 50px;
  padding-bottom: 70px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
@media (max-width: 768px){
  .box-1{
    width: 400px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.box-2{
  grid-area: box-2;
  background-color: hsl(179, 62%, 43%);
  padding: 50px;
  border-bottom-left-radius: 8px;
}
.box-3{
  grid-area: box-3;
  background-color: hsl(179, 62%, 43%,70%);
  padding: 50px;
  border-bottom-right-radius: 8px;
}
.box-1 h1{
  color: hsl(179, 62%, 43%);
  margin-bottom: 15px;
}
.box-1 h2{
  color: hsl(71, 73%, 54%);
  margin-bottom: 5px;
}
.box-1 p{
  font-size: 20px;
  color: hsl(218, 22%, 67%);
  font-weight: 300;
}
.box-2{
  position: relative;
  
}
.box-2 h2{
  color: hsl(204, 43%, 93%);
  margin-bottom: 18px;
}
.box-2 h4{
  display: flex;
  align-items: center;
  color: hsl(204, 43%, 93%,50%);
  font-weight: 300;
  font-size: 20px;
}
.box-2 h4 span{
  font-size: 40px;
  font-weight: 700;
  margin-right: 20px;
  color: white;
}
.box-2 p{
  color: hsl(204, 43%, 93%);
  font-size: 20px;
}
.box-2 a{
  width: 282px;
  height: 60px;
  background-color: hsl(71, 73%, 54%);
  position: absolute;
  top: 230px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.box-3 h2{
  color: white;
}
.box-3 ul{
  padding: 0;
  list-style: none;
  color: hsl(204, 43%, 93%);
}
.box-3 ul li {
  margin-bottom: 5px;
}
